# Application service configuration
APP_NAME=""
APP_USER=""
APP_DIR=""
VENV_DIR=""
ENV_FILE=""
SERVICE_FILE=""
SERVER_ADDR=""
APP_PORT=""

# Network configuration
INTERFACES=("")
MODES=("")
ADDRESSES=("")
DEFAULT_ROUTE_IFACE=""
DEFAULT_ROUTE_VIA=""
DNS_SERVERS=("")
NET_FILE="" # netplan file name
TO_CLOSE_PORTS=("")

# default .env
DB_HOST="" # IP address
DB_NAME=""
DB_USER=""
DB_PASSWORD=""