SERVICE="" # application service file
THRESHOLD="" # memory percentage threshold
DATA_IP="" # database server IP address
DATA_PORT="" # Database connection port
DNS_IP="" # DNS server port
DNS_PORT="" # DNS connection port
DISK_THRES= # persentage of used disk threshold
MEM_THRES= # persentage of memory used threshold
CPU_THRES= # persentage of idle cpu threshold
PG_PASSWORD="" # Database password for the appuser