# the network diagram .svg image
network_diagram.svg

# application server app user config
roles/app/appuser.conf

# Application server config
roles/app/app.conf

# Database + DNS server config
roles/db/db-server.conf