# application server app user config
roles/app/appuser.conf

# Application server config
roles/app/app.conf

# Database + DNS server config
roles/db/db-server.conf

# Database server backup user config
roles/db/backupuser.conf

# Proxy server config
roles/proxy/proxy.conf

# firewall config
firewall/firewall.conf

# app health config
roles/app/health.conf


