# Network config
INTERFACES=("" "" "")
MODES=("" "" ")
ADDRESSES=("" "" "")
DEFAULT_ROUTE_IFACE=""
DEFAULT_ROUTE_VIA=""
DNS_SERVERS=("")
NET_FILE=""

# DNS config
LISTEN_ADD=""
DNS_INT=""
INT_RES_SRV=""