[Unit]
Description=Daily database file backup
Documentation=man:systemd.timer(5)
Requires=backup.service

[Timer]
OnCalendar=Sun *-*-* 02:00:00
Persistent=true
RandomizedDelaySec=10min
AccuracySec=1min

[Install]
WantedBy=timers.target